@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    margin: 0px;
  padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background:#090909;
    color:white;
    /* margin:auto;
    position: relative; */
    /* height:100%; */
background-repeat: no-repeat;
background: linear-gradient(180deg, #172B4E 42.05%, #325570 100%);
}

header{
display: flex;
flex-direction: column;
align-items: center;
padding: 60px;

position: absolute;
width: 100%;
height: 30%;
left: 0px;
top: 0px;

background: #172B4E;
box-shadow: 0px 4px 171px rgba(0, 0, 0, 0.25);
}
.logo{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}
nav{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
justify-content: space-between;
position: static;
width: 40%;


filter: drop-shadow(0px 2.02523px 2.02523px rgba(0, 0, 0, 0.25));
border-radius: 2.02523px;
}
.moon{
    width:10%;
}
h1{
    margin:40px;
    font-weight: normal;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items:center;
    background-image: url("stars-mountains.svg");

    background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  /* width:100%;
  height:100%;
  margin: 0px;
  padding: 0px; */
  
}

button{
    font-family: 'Montserrat', sans-serif;
font-size: 16px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
width: 100%;
margin:20px;
padding:12px;
border: none;
color:white;
/* position: static;

height: 36px;
left: 136px;
top: 0px; */

background: #274463;
border-radius: 4.05045px;
}
button:hover{
    filter: drop-shadow(0px 2.02523px 3.02523px rgba(0, 0, 0, 0.25));

}
canvas{
    max-width:40%;
    height:50%;
    margin:20px;
}

@media only screen and (max-width: 800px) {
    canvas{
        max-width:70%;
        max-height:70%;
        align-self: center;

    }
  }

